@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

$warning-button-color: palette.$red;

@mixin button-common-styles(
  $text-color: palette.$black,
  $background-color: transparent,
  $border-color: palette.$black
) {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 8px 25px;

  font-weight: 500;
  font-size: 1rem;

  color: $text-color;
  background-color: $background-color;

  cursor: pointer;

  border: solid value.$border-width $border-color;
}

@mixin button-warning-styles() {
  @include button-common-styles(
    $text-color: $warning-button-color,
    $border-color: $warning-button-color
  );
}

@mixin button-disabled-styles() {
  opacity: 0.7;
}
