@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

@mixin button-default-styles(
  $text-color: palette.$black,
  $background-color: transparent,
  $border-color: palette.$black
) {
  position: relative;

  display: inline-block;

  padding: 8px 25px;

  font-weight: 500;
  font-size: 1rem;

  color: $text-color;
  background-color: $background-color;

  cursor: pointer;

  border: solid value.$border-width $border-color;
}
