@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

// Colors
$warning-button-color: palette.$red;

// Values
$button-disabled-opacity: 0.5;

// Mixins
@mixin button-common-styles(
  $text-color: currentColor,
  $background-color: palette.$bright-white,
  $border-color: currentColor
) {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 8px 20px;

  font-weight: 500;
  font-size: 1rem;

  color: $text-color;
  background-color: $background-color;

  cursor: pointer;

  -webkit-tap-highlight-color: transparent;

  &:disabled {
    cursor: not-allowed;
  }

  border: solid value.$border-width $border-color;
}
