@use 'sass:color';

$white: hsl(35, 47%, 85%);
$gray: hsl(35, 63%, 79%);
$dark-gray: color.scale($gray, $lightness: -15%);
$blackish: hsl(34, 20%, 23%);
$black: hsl(40, 9%, 14%);

$red: hsl(7, 53%, 39%);
