@use 'sass:math';
@use './value' as value;
@use './palette' as palette;

$border-width: value.$border-slim-width;

$small-gap: 3px;
$gap: 5px;

$font-size: 1.2rem;

$aspect-ratio: math.div(1.8, 1);

// Colors
$border-color: palette.$darker-gray;

$background-color: palette.$dark-gray;
$text-color: palette.$blackish;

$excluded-background-color: palette.$white;
$excluded-border-color: palette.$gray;
$excluded-scale: 0.9;
