@use './palette' as palette;

// Background
@mixin paper-texture-background($background-color: palette.$white) {
  background-color: $background-color;
  background-image: url('/images/texture.jpg');
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: repeat-y;
}

// Padding
$view-padding: 60px;
$button-container-margin: 50px;

$container-gap: 50px;
$button-container-gap: 15px;

// For small screens
$small-screen-width: 650px;
$small-screen-view-padding: 20px;

// Border
$border-width: 2px;
$border-slim-width: 1.5px;

// Animation
$ease-in-out: ease-in-out;
$ease-in: cubic-bezier(0.5, 0, 0.6, 0.2);
$ease-out: cubic-bezier(0.4, 0.8, 0.5, 1);

$animation-duration: 0.2s;
$animation-ease: $ease-in-out;

// Other
$button-backdrop-blur: 2px;
