@use './palette';

// Background
@mixin paper-texture-background($background-color: palette.$white) {
  background-color: $background-color;
  background-image: url('/images/texture.jpg');
  background-blend-mode: luminosity;
  background-size: cover;
}

// Padding
$view-padding: 60px;

// Border
$border-width: 2px;
$border-slim-width: 1.5px;
$border-radius: 10px;

// Animation
$ease-in-out: ease-in-out;
$ease-in: cubic-bezier(0.5, 0, 0.6, 0.2);
$ease-out: cubic-bezier(0.4, 0.8, 0.5, 1);

$animation-duration: 0.2s;
$animation-ease: $ease-in-out;

// Others
$button-container-gap: 10px;
