@use './palette' as palette;
@use './value' as value;

@font-face {
  font-family: Happiness Sans;
  font-weight: 100 900;
  src: url('/fonts/happiness-sans.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  font-weight: normal;
}

::selection {
  background-color: palette.$black;
  color: palette.$white;
}

body {
  font-family: 'Happiness Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;

  @include value.paper-texture-background();
  color: palette.$black;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
