@use './palette' as palette;

@font-face {
  font-family: Happiness Sans;
  src: url('/fonts/HappinessSansVF.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  font-weight: normal;
}

body {
  font-family: 'Happiness Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;

  background-color: palette.$white;
  background-image: url('/images/texture.jpg');
  background-blend-mode: luminosity;
  color: palette.$black;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
